{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://csrc.nist.gov/CSRC/media/feeds/metanorma/pubs-export.zip",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/x-zip-compressed"
          ],
          "Last-Modified": [
            "Mon, 26 Jun 2023 22:05:21 GMT"
          ],
          "Etag": [
            "\"80a6ac4c7aa8d91:0\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "PK\u0003\u0004\u0014\u0000\u0000\u0000\b\u0000\u0010ÚVýrh|ß¡\u0001\u0000¶þ\u001a\u0000\u0010\u0000\u0000\u0000pubs-export.jsonì½ksã¸’6ø}#ö? üáLuDË%É÷‰Ý%ßÊ%—Ær•·ÏÌû\u0001¦`‰Ç\u0014¡Ã‹Ýê7ö¿/\u0000Þ@ˆ¤(\b¢H7NLL»DJB>\u00023ŸLäå¿ÿÏÿ\u0003€ÿMÿ\u001f\u0000\u0007\u0016´§>œ¢ƒÿ\u0004\u0007È>ø=|Ù5\u001csáÑ\u0017¿C{\u00199&réË¶éz-w\u0011_™`Ãöç/È¡\u0017;çív«Ã_3'ÈöÌW3¸>\u001e[...]
