{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://csrc.nist.gov/CSRC/media/feeds/metanorma/pubs-export.zip",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/x-zip-compressed"
          ],
          "Last-Modified": [
            "Fri, 02 Jun 2023 22:05:21 GMT"
          ],
          "Etag": [
            "\"80a6c2529e95d91:0\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "PK\u0003\u0004\u0014\u0000\u0000\u0000\b\u0000\u0012ÂV¢Íp\u001e`¡\u0001\u0000\u001cö\u001a\u0000\u0010\u0000\u0000\u0000pubs-export.jsonì½ksÛ¸¶6ø}ªæ? üaŸtUË‘”øvjfªdù\u0012'Q¢c9Éô>çý\u0000S°ÄmŠÐ\u0006I»ÕoÍ\u001f\u0000¼\u0010IQ\u0010D‘nì:uÚ\u0011)\të\u0011¸Ö³\u0016Öå¿ÿÏÿ\u0003€ÿÍþ\u001f\u0000G\u000etg\u0001œ¡£ÿ\u0004GÈ=ú=zÙ³ˆ½ôÙ‹_¡/¼Œˆ<ö²k{~Ç[&W¦ØrƒÅ#\"ìbï¼ÛíôÄkö\[...]
