{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://csrc.nist.gov/CSRC/media/feeds/metanorma/pubs-export.zip",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/x-zip-compressed"
          ],
          "Last-Modified": [
            "Thu, 13 Jul 2023 22:05:21 GMT"
          ],
          "Etag": [
            "\"8066b21dd6b5d91:0\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "PK\u0003\u0004\u0014\u0000\u0000\u0000\b\u0000\u000fíV\u000e&×‘ó¡\u0001\u0000Iÿ\u001a\u0000\u0010\u0000\u0000\u0000pubs-export.jsonì½ksÛ¸¶6ø}ªæ? üaŸtUË‘äøvjfªdÙNœD‰Žå$oïsÞ\u000f0\u0005KÜ¦\bm´[=5ÿ}\u0000ð\u0006B$EA\u0010Eº±ëÔiG¤$¬GàZÏZX—ÿþ?ÿ\u000f\u0000þ_öÿ\u00008r ;\u000bà\f\u001dý'8BîÑïÑËžEì¥Ï^ü\n}áeDlä±—]Ûó;Þ2¹2Å–\u001b,\u001e\u0011a\u0017{\u0017Ýn§'^³§Èõí';¼>\u[...]
