{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://csrc.nist.gov/CSRC/media/feeds/metanorma/pubs-export.zip",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/x-zip-compressed"
          ],
          "Last-Modified": [
            "Wed, 29 Mar 2023 22:05:21 GMT"
          ],
          "Etag": [
            "\"80e6e88d8a62d91:0\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "PK\u0003\u0004\u0014\u0000\u0000\u0000\b\u0000\r}Vk&ÿäòš\u0001\u0000K|\u001a\u0000\u0010\u0000\u0000\u0000pubs-export.jsonì½[sÛº–.ú~ªö@ùauR5åHò½kŸS%K¾%Q¢¶œ¤æê>\u000f0\u0005K\\¦\b-^ì©ì:ÿý\u0000à\r„HŠ‚ ŠÔÄª®ž±H‰\u001c\u001fÁ1¾10.ÿý¿þ/\u0000þ\u000fý\u0000\u001cYÐžúpŠŽþ\u0013\u001c!ûèðc×pÌ…G?ü\n=îcä˜È¥\u001fÛ¦ëµÜE|d‚\rÛŸ?#‡\u001eì\\¶Û­\u000eÌœ Û3_Ìàøx\u0004„S\u001c[...]
